body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
}


#uiContainer {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  max-height: 80vh;
  overflow-y: auto;
  left: 50px;
}

table {
  background: #fff;
  padding: 10px;
}
